<!DOCTYPE html>
<html>

	<head>
		<title>Student Record Upload Report</title>

		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css" />
		<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

		<script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
		<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
		<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
		<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>

		<script type="text/javascript">

			let setLayout = function () {
				$('.card-title').css('margin-left', $('#data-div').position().left);
				$('.card-title').width($('#data-div').width());

				$('.card-subtitle').css('margin-left', $('#data-div').position().left);
				$('.card-subtitle').width($('#data-div').width());
			};

			$(document).ready (function() {
				setLayout ();
				$(window).on('resize', function() {
					setLayout ();
				});

				try {
					$('#data-tab').DataTable({
						dom: 'Bfrtip',
        				buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
        				"order": [[1, "asc"], [0, "asc"]]
					});
				} catch (err) {console.log(err);}
			});

		</script>

		<style>
			body {
				background-color: #1a75ff;
			}

			.header-line-1 img {
				width: 100%;
			}

			.card {
				margin: 10px;
				padding: 10px;
				color: #0033cc;
			}

			.header-line-1 {
				font-weight: bold;
				font-size: xx-large;
			}

			.header-line-2-p1, .header-line-2-p2 {
				font-style: italic;
				color: #668cff;
				float: right;
			}

			.header-line-2-p2 {
				font-weight: bold;
			}

			.header-line-3 {
				text-align: center;
				font-weight: bold;
			}

			.header-line-4 {
				font-weight: bold;
				float: right;
			}

			#data-div {
				font-weight: bold;
				margin-top: 2%;
			}

			#message-div {
				text-align: center;
				color: red;
				font-weight: bold;
			}

			.mono {
				font-family: monospace;
			}

			#data-tab-head, #data-tab-body {
				border: 3px outset #1a75ff;
				width: 100%;
			}

			#data-tab-head tr td, #data-tab-head tr th, #data-tab-body tr td, #data-tab-body tr th {
				border: 1px solid #1a75ff;
				padding-left: 5px;
			}

			#data-tab-head tr th, #data-tab-body tr th {
				background-color: #e6e6ff;
				color: #0033cc;
			}

			#data-tab-head-div, #data-tab-body-div {
				max-height: 400px;
				overflow-y: scroll;
			}

			#data-tab-head {
				border-bottom: 0px !important;
			}

			#data-tab-body {
				border-top: 0px !important;
			}
			.hidden {
				display: none;
			}

		</style>

	</head>

	<body>
		
		<div class="card">
			<div class="card-title">
				<span class="header-line-1"><img src="/images/logo.png" alt="EduClasses Online" /></span> <br />
				<span class="header-line-2-p1"> Online Classes 2020 </span> <br />
				<span class="header-line-4">
						Welcome! <%= (typeof name !== 'undefined') ? name : 'Anonymous' %> (<a href="/">Home</a> | <a href="/logout">Logout</a>) <br />
						<em><%= (typeof node !== 'undefined') ? node : '' %></em>
				</span>
			</div>

			<div class="row">
				<div class="col-lg-2 col-md-1"></div>
				<div id="data-div" class="col-lg-8 col-md-10" col-md>
					<span class="mono"> Student Data Uploaded so far (Payment not confirmed)</span>
					<% if (data.length > 0) { %>
						<div id="details-div">
							<table id="data-tab" class="table table-striped table-bordered">
								<thead>	
									<tr>
										<th>Serial</th><th>District</th><th>College ID</th><th>College Name</th>
										<th>Uploaded</th><th>Capacity</th><th>Student</th><th>Payment</th>
									</tr>
								</thead>
								<tbody>
									<% let dist = data[0].district;

									let thisDistIntakeCount = 0;
									let thisDistUploadCount = 0;
									let thisStudentCount = 0;
									let thisPayment = 0;

									let rowNum = 0;

									data.forEach((line) => { 
										if (line.district !== dist) { %>
											<tr>
												<td></td>
												<td><b><%=dist%> (Total)</b></td>
												<td><span class="hidden"></span></td>
												<td><span class="hidden"></span></td>
												<td><b><%=thisDistUploadCount%></b></td>
												<td><b><%=thisDistIntakeCount%></b></td>
												<td><b><%=thisStudentCount%></b></td>
												<td><b><%=thisPayment%></b></td>
											</tr>

											<% 
											thisDistIntakeCount = 0;
											thisDistUploadCount = 0;
											thisStudentCount = 0;
											thisPayment = 0;
											dist = line.district;
										}
										thisDistIntakeCount += parseInt(line.intake);
										thisDistUploadCount += parseInt(line.uploaded_count);
										thisStudentCount += line.students ? parseInt(line.students) : 0;
										thisPayment += line.payment ? parseInt(line.payment) : 0;

										rowNum += 1;
										%>
										<tr>
											<td><%=rowNum%></td>
											<td><%=line.district%></td>
											<td><%=line.college_id%></td>
											<td><%=line.node_name%></td>
											<td><%=line.uploaded_count%></td>
											<td><%=line.intake%></td>
											<td><%=line.students%></td>
											<td><%=line.payment%></td>
										</tr> 
									<% }) %>
								</tbody>
							</table>
						</div>
					<% } else { %>
						No data data for the selected date
					<% } %>
				</div>
    		</div>
    		<div id="message-div"><%= (typeof message !== 'undefined') ? message : '' %></div>

		</div>

	</body>

</html>