<!DOCTYPE html>
<html>

	<head>
		<title>Admin Page</title>

		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

		<script type="text/javascript">

			let setLayout = function () {
				$('.card-title').css('margin-left', $('#metadata-div').position().left);
				$('.card-title').width($('#metadata-div').width());

				$('.card-subtitle').css('margin-left', $('#metadata-div').position().left);
				$('.card-subtitle').width($('#metadata-div').width());
			};

			$(document).ready (function() {
				setLayout ();
				$(window).on('resize', function() {
					setLayout ();
				});
			});

		</script>

		<style>
			body {
				background-color: #1a75ff;
			}

			.header-line-1 img {
				width: 100%;
			}

			.card {
				margin: 10px;
				padding: 10px;
				color: #0033cc;
			}

			.header-line-1 {
				font-weight: bold;
				font-size: xx-large;
			}

			.header-line-2-p1, .header-line-2-p2 {
				font-style: italic;
				color: #668cff;
				float: right;
			}

			.header-line-2-p2 {
				font-weight: bold;
			}

			.header-line-3 {
				text-align: center;
				font-weight: bold;
			}

			.header-line-4 {
				font-weight: bold;
				float: right;
			}

			#metadata-div {
				font-weight: bold;
			}

			.submit-btn {
				width: auto;
				margin-top: 5px;
			}

			#message-div {
				text-align: center;
				color: red;
				font-weight: bold;
			}

			input, textarea {
				font-family: monospace;
			}

			#time-input {
				margin-top: 1%;
				text-align: center;
			}

		</style>

	</head>

	<body>

		<% 
		let hourArr = [];
		let minArr = [];

		Array.from(Array(24).keys()).forEach((num) => { hourArr.push((num < 10) ? ('0' + num): num); });
		Array.from(Array(60).keys()).forEach((num) => { minArr.push((num < 10) ? ('0' + num): num); });

		let isStartHour = (num) => {
			try {
				if ((typeof metadata !== 'undefined') && metadata.vstart && metadata.vstart.split(':')[0] == num) 
					return 'selected';
			} catch (err) {}
			return '';
		};
		let isStartMin = (num) => {
			try {
				if ((typeof metadata !== 'undefined') && metadata.vstart && metadata.vstart.split(':')[1] == num) 
					return 'selected';
			} catch (err) {}
			return '';
		};
		let isEndHour = (num) => {
			try {
				if ((typeof metadata !== 'undefined') && metadata.vend && metadata.vend.split(':')[0] == num) 
					return 'selected';
			} catch (err) {}
			return '';
		};
		let isEndMin = (num) => {
			try {
				if ((typeof metadata !== 'undefined') && metadata.vend && metadata.vend.split(':')[1] == num) 
					return 'selected';
			} catch (err) {}
			return '';
		};

		let classDate = '';
		if ((typeof metadata !== 'undefined') && metadata.vdt) {
			let comp = metadata.vdt.split('/');
			let monthX = comp[0];
			let dayX = comp[1];
			if (parseInt(comp[0]) < 10) monthX = '0' + comp[0];
			if (parseInt(comp[1]) < 10) dayX = '0' + comp[1];
			classDate = comp[2] + '-' + monthX + '-' + dayX;
		}

		let nextClass = '';
		if ((typeof metadata !== 'undefined') && metadata.next) {
			let comp = metadata.next.split('/');
			nextClass = comp[2] + '-' + comp[1] + '-' + comp[0];
		}

		%>
		
		<div class="card">
			<div class="card-title">
				<span class="header-line-1"><img src="/images/logo.png" alt="EduClasses Online" /></span> <br />
				<span class="header-line-2-p1"> Online Classes 2020 </span> <br />
				<span class="header-line-4">
						Welcome! <%= (typeof name !== 'undefined') ? name : 'Anonymous' %> (<a href="/">Home</a> | <a href="/logout">Logout</a>) <br />
						<em><%= (typeof node !== 'undefined') ? node : '' %></em>
				</span>
			</div>

			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-6" id="metadata-div">
					Update Video Details:
					<hr />
					<form action="/update/video" method="post">
						Class Title:
						<input type="text" name="class" class="form-control" value="<%= (typeof metadata !== 'undefined') ? metadata.class : '' %>" />
						Video Link:
						<input type="text" name="vlink" class="form-control" value="<%= (typeof metadata !== 'undefined') ? metadata.vlink : '' %>" />
						Video Description:
						<textarea name="vdesc" class="form-control" ><%= (typeof metadata !== 'undefined') ? metadata.vdesc : '' %></textarea>
						<div class="row" id="time-input">
							<div class="col-sm-4 form-inline">
								Class Start Time&nbsp;&nbsp;
								<select class="form-control" name="startHour">
									<% hourArr.forEach((num) => { %> <option value="<%=num%>" <%=isStartHour(num)%>><%=num%></option> <% }); %>
								</select>
								&nbsp;&nbsp;:&nbsp;&nbsp;
								<select class="form-control" name="startMin">
									<% minArr.forEach((num) => { %> <option value="<%=num%>" <%=isStartMin(num)%>><%=num%></option> <% }); %>
								</select>
							</div>
							<div class="col-sm-4 form-inline">
								Class End Time &nbsp;&nbsp;
								<select class="form-control" name="endHour">
									<% hourArr.forEach((num) => { %> <option value="<%=num%>" <%=isEndHour(num)%>><%=num%></option> <% }); %>
								</select>
								&nbsp;&nbsp;:&nbsp;&nbsp;
								<select class="form-control" name="endMin">
									<% minArr.forEach((num) => { %> <option value="<%=num%>" <%=isEndMin(num)%>><%=num%></option> <% }); %>
								</select>
							</div>
							<div class="col-sm-4 form-inline">
								Class Date &nbsp;&nbsp;
								<input type="date" class="form-control" name="cdate" value="<%=classDate%>"/>
							</div>
							<br /> <br />
							<div class="col-sm-4 form-inline">
								Next Class &nbsp;&nbsp;
								<input type="date" class="form-control" name="next" value="<%=nextClass%>"/>
							</div>
						</div>
						<input type="submit" value="Update &rarr;" class="form-control btn btn-primary submit-btn" />
						&nbsp;&nbsp;&nbsp;&nbsp;<pre><%= (typeof vmsg !== 'undefined') ? vmsg : '' %></pre>
					</form>
					<br /><br />
					Update Schedule:
					<hr />
					<form action="/update/schd" method="post">
						Schedule HTML:
						<textarea name="schd" class="form-control"><%= (typeof metadata !== 'undefined') ? metadata.schedule : '' %></textarea>
						<input type="submit" value="Update &rarr;" class="form-control btn btn-primary submit-btn" />
						&nbsp;&nbsp;&nbsp;&nbsp;<pre><%= (typeof smsg !== 'undefined') ? smsg : '' %></pre>
					</form>
					<br /><br />
					Update Assignment Details:
					<hr />
					<form action="/update/assgn" method="post">
						Assignment Count:
						<input type="number" name="acount" class="form-control" min=0 max=10 value="<%= (typeof metadata !== 'undefined') ? metadata.acount : '' %>" />
						Assignment Questions:
						<textarea name="atext" class="form-control"><%= (typeof metadata !== 'undefined') ? metadata.atext : '' %></textarea>
						<% let startTime = ((typeof metadata !== 'undefined') ? metadata.astart : new Date().toISOString().split('.')[0]); %>
						<% let endTime = ((typeof metadata !== 'undefined') ? metadata.aend : new Date().toISOString().split('.')[0]); %>
						Submission Open Time:
						<input type="datetime-local" class="form-control" name="starttime" value="<%=startTime%>" />
						Submission End Time:
						<input type="datetime-local" class="form-control" name="endtime" value="<%=endTime%>" />
						<input type="submit" value="Update &rarr;" class="form-control btn btn-primary submit-btn" />
						&nbsp;&nbsp;&nbsp;&nbsp;<pre><%= (typeof amsg !== 'undefined') ? amsg : '' %></pre>
					</form>
					<br /><br />
					Reports:
					<hr />
					<ol>
						<li><a href="/rep1">District wise Student Data Upload Stats</a></li>
						<li><a href="/rep4">MIS Report</a></li>
						<li><a href="/rep2">Import user job</a></li>
						<li><a href="/rep3">Nodal SMS job</a></li>
					</ol>
				</div>
    		</div>
    		<div id="message-div"><%= (typeof message !== 'undefined') ? message : '' %></div>

		</div>

	</body>

</html>