<!DOCTYPE html>
<html>

	<head>
		<title>Archive Page</title>

		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

		<script type="text/javascript">

			let setLayout = function () {

				let elementLeft = $('#data-div').position().left;
				let elementWidth = $('#data-div').width();

				$('.card-title').css('margin-left', elementLeft);
				$('.card-title').width(elementWidth);

				$('.card-subtitle').css('margin-left', elementLeft);
				$('.card-subtitle').width(elementWidth);
			};

			$(document).ready (function() {
				setLayout ();
				$(window).on('resize', function() {
					setLayout ();
				});
			});

		</script>

		<style>
			body {
				background-color: #1a75ff;
			}

			.header-line-1 img {
				width: 100%;
			}

			.card {
				margin: 10px;
				padding: 10px;
				color: #0033cc;
			}

			.header-line-1 {
				font-weight: bold;
				font-size: xx-large;
			}

			.header-line-2-p1, .header-line-2-p2 {
				font-style: italic;
				color: #668cff;
				float: right;
			}

			.header-line-2-p2 {
				font-weight: bold;
			}

			.header-line-3 {
				text-align: center;
				font-weight: bold;
			}

			.header-line-4 {
				font-weight: bold;
				float: right;
			}

			#data-div {
				font-weight: bold;
				margin-top: 2%;
			}

			.title-div {
				font-weight: bold;
			}

			.video-frame-div {
				text-align: center;
				margin-top: .5%;
				margin-bottom: .5%;
			}

			.video-frame {
				border-radius: 10px;
				box-shadow: 2px 2px #1a75ff;
				max-width: 99%;
			}

			.video-desc-div {
				font-weight: bold;
				text-align: justify;
				font-family: monospace;
			}

			.data-row {
				border-left: 1px solid blue;
				border-bottom: 1px solid blue;
				border-right: 1px solid blue;
				border-radius: 0px 0px 2px 5px;
				margin-bottom: 5px;
				padding-left: 5px;
				padding-right: 5px;
				padding-bottom: 5px;
			}

		</style>

	</head>

	<body>
		
		<div class="card">
			<div class="card-title">
				<span class="header-line-1"><img src="/images/logo.png" alt="EduClasses Online" /></span> <br />
				<span class="header-line-2-p1"> Online Classes 2020 </span> <br />
				<span class="header-line-4">
						Welcome! <%= (typeof name !== 'undefined') ? name : 'Anonymous' %> (<a href="/">Home</a> | <a href="/logout">Logout</a>) <br />
						<em><%= (typeof node !== 'undefined') ? node : '' %></em>
				</span>
			</div>

			<div class="row">
				<div class="col-sm-3"></div>
				<div id="data-div" class="col-sm-6">
					<% if ((typeof name !== 'undefined') && data.length > 0) { %>
						<em> Archives (Click to expand): </em> <br /> <br />
						<% let i = 0;
						data.forEach((row) => { 
							i = i + 1; %>
							<div class="row data-row">
								<a class="collapse-btn" data-toggle="collapse" href="#collapse<%=i%>" role="button" aria-expanded="false" aria-controls="collapse<%=i%>">
									Video Dated <%=row.class_date%> (<%=row.class_title%>)
								</a> <br />
								<div class="collapse" id="collapse<%=i%>">
									<hr />
									<div class="title-div">
										<%=row.class_title%>
									</div>

									<div class="video-frame-div">
										<iframe width="560" height="315" class="video-frame" src="<%=row.link + '?autoplay=0&rel=0&controls=0'%>"
											frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen allownetworking="internal">
										</iframe>
									</div>

									<div class="col-xs-6 col-xs-offset-3 video-desc-div">
										<% if(typeof row.video_info !== 'undefined') {
											let descLines = row.video_info.split(/\r?\n/);
											if (descLines.length > 0) {
												descLines.forEach((line) => { %> <%=line%> <br /> <% }); 
											}
										} %>
									</div>
								</div>
							</div>
						<% }); %>
					<% } else { %>
						No Archived video yet; please check back later.
					<% } %>
				</div>	
    		</div>
		</div>

	</body>

</html>