<!DOCTYPE html>
<html>

	<head>
		<title>Home Page</title>

		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

		<script type="text/javascript">

			let setLayout = function () {
				let elementLeft = $('#video-frame').position().left;
				let elementWidth = $('#video-frame').width();

				$('.card-title').css('margin-left', elementLeft);
				$('.card-title').width(elementWidth);

				$('.card-subtitle').css('margin-left', elementLeft);
				$('.card-subtitle').width(elementWidth);

				$('#title-div').css('margin-left', elementLeft);
				$('#title-div').width(elementWidth);

				$('#video-desc-div').css('margin-left', elementLeft);
				$('#video-desc-div').width(elementWidth);

				$('#assignment-row').css('margin-left', elementLeft);
				$('#assignment-row').width(elementWidth);

				$('#schedule-row').css('margin-left', elementLeft);
				$('#schedule-row').width(elementWidth);

				$('#when-div').css('margin-left', elementLeft);
				$('#when-div').width(elementWidth);

				$('#notice-div').css('margin-left', elementLeft);
				$('#notice-div').width(elementWidth);

			};

			$(document).ready (function() {
				setLayout ();
				$(window).on('resize', function() {
					setLayout ();
				});

				<% try {
					let classDateComponents = metadata.vdt.split('/');
					let today = new Date(classDateComponents[1] + '/' + classDateComponents[0] + '/' + classDateComponents[2]);
					today.setHours(parseInt(metadata.vstart.split(':')[0]));
					today.setMinutes(parseInt(metadata.vstart.split(':')[1]));
					today.setSeconds(0);
					let classTimeString = today.toLocaleString();
					today.setHours(parseInt(metadata.vend.split(':')[0]));
					today.setMinutes(parseInt(metadata.vend.split(':')[1]));
					let classEndTimeString = today.toLocaleString();
					%> 
					let refreshTime = new Date('<%=classTimeString%>');
					let timeToGo = refreshTime.getTime() - new Date().getTime();

					let classEnd = new Date('<%=classEndTimeString%>');
					let classEndToGo = classEnd.getTime() - new Date().getTime();

					if (timeToGo > 0) {
						try {
							setTimeout(function() {
								window.location.reload();
							}, timeToGo);
							let dateComponents = refreshTime.toLocaleDateString().split('/');
							$('#when-div').html('Next class starts at: ' + dateComponents[1] + '/' + dateComponents[0] + '/' + dateComponents[2] + ' ' + refreshTime.toLocaleTimeString());
						} catch (err) {
							console.log(err);
						}
					} else {
						$('#when-div').html('Next class is on <%=metadata.next%>');
					}

					if (classEndToGo > 0) {
						setTimeout(function() {
							$('#when-div').html('Next class is on <%=metadata.next%>');
						}, classEndToGo);
					}

					if (classEndToGo > 0 && timeToGo <= 0){
						$('#when-div').html('');
					}

					// As on 13.10.2020, there is no class tomorrow, so show this:
					// Again, activated from 5.02.2021
					$('#when-div').html('Previous classes are now available for revision');
				<% } catch (err) {
					console.log(err);
					// As on 13.10.2020, there is no class tomorrow, so show this:
					// Again, activated from 5.02.2021
					$('#when-div').html('Previous classes are now available for revision');
				} %>
			});

		</script>

		<style>
			body {
				background-color: #1a75ff;
			}

			.header-line-1 img {
				width: 100%;
			}

			.card {
				margin: 10px;
				padding: 10px;
				color: #0033cc;
			}

			.header-line-1 {
				font-weight: bold;
				font-size: xx-large;
			}

			.header-line-2-p1, .header-line-2-p2 {
				font-style: italic;
				color: #668cff;
				float: right;
			}

			.header-line-2-p2 {
				font-weight: bold;
			}

			.header-line-3 {
				text-align: center;
				font-weight: bold;
			}

			.header-line-4 {
				font-weight: bold;
				float: right;
			}

			#title-div {
				font-weight: bold;
			}

			.video-frame-div {
				text-align: center;
				margin-top: .5%;
				margin-bottom: .5%;
			}

			#video-frame {
				border-radius: 10px;
				box-shadow: 2px 2px #1a75ff;
				max-width: 99%;
			}

			#video-desc-div {
				font-weight: bold;
				text-align: justify;
				font-family: monospace;
			}

			.eror-cls {
				text-align: center;
				color: red;
			}

			#schedule-row div {
				font-size: small;
				padding: 5px;
			}

			.schd-header {
				font-size: medium;
			}

			#schd-tab {
				border: 3px outset #1a75ff;
				width: 100%;
			}

			#schd-tab tr td, #schd-tab tr th {
				border: 1px solid #1a75ff;
				padding-left: 5px;
			}

			#schd-tab tr th {
				background-color: #e6e6ff;
				color: #0033cc;
			}

			.schd-tr, .schd-time-tr, .schd-item-tr {
				font-weight: bold;
			}

			.schd-tr {
				text-align: center;
			}

			.no-bold {
				font-weight: normal;
			}

			.mono {
				font-family: monospace;
			}

			#assignment-row {
				text-align: left;
				font-weight: bold;
			}
			.red {
				color: red;
			}

			.blink {
 				animation: blink-animation 1s steps(5, start) infinite;
  				-webkit-animation: blink-animation 1s steps(5, start) infinite;
  				color: red;
  				font-weight: bold;
			}
			@keyframes blink-animation {
  				to {
    				visibility: hidden;
  				}
			}
			@-webkit-keyframes blink-animation {
  				to {
    				visibility: hidden;
  				}
			}

		</style>

	</head>

	<body>
		
		<div class="card">
			<div class="card-title">
				<span class="header-line-1"><img src="/images/logo.png" alt="EduClasses Online" /></span> <br />
				<span class="header-line-2-p1"> Online Classes 2020 </span> <br />
				<span class="header-line-4">
						Welcome! <%= (typeof name !== 'undefined') ? name : 'Anonymous' %> (
						<% if(typeof type !== 'undefined' && type === 1) { %>
							<a href="/admin">Admin</a> |
						<% } %>
						<% if(typeof type !== 'undefined' && type !== 3) { %>
							<a href="/nodal">Nodal Admin</a> |
						<% } %>
						<a href="/logout">Logout</a> ) <br />
						<em><%= (typeof node !== 'undefined') ? node : '' %></em>
				</span>
			</div>

			<div class="row blink" id="when-div"></div>
			<div class="row blink" id="notice-div">
			</div>

			<% if ((typeof metadata !== 'undefined') && metadata.time === 1 && metadata.vlink && metadata.vlink.trim() !== '') { %>
				<div class="row" id="title-div">
					<%= (typeof metadata !== 'undefined') ? metadata.class : '' %>
				</div>

				<div class="video-frame-div">
					<iframe width="560" height="315" id="video-frame" src="<%= (typeof metadata !== 'undefined') ? (metadata.vlink + '?autoplay=0&rel=0&controls=0') : '' %>"
						frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen allownetworking="internal">
					</iframe>
				</div>

				<div class="row">
					<div class="col-xs-6 col-xs-offset-3" id="video-desc-div">
						<% if(typeof metadata !== 'undefined') {
							let descLines = metadata.vdesc.split(/\r?\n/);
							if (descLines.length > 0) {
								descLines.forEach((line) => { %> <%=line%> <br /> <% }); 
							}
						} %>
					</div>
				</div>
			<% } else if ((typeof metadata !== 'undefined') && metadata.dvlink && metadata.dvdesc.trim() !== '') { %>
				<div class="row" id="title-div">
					<%= (typeof metadata !== 'undefined') ? metadata.dvtitle : '' %>
				</div>

				<div class="video-frame-div">
					<iframe width="560" height="315" id="video-frame" src="<%= (typeof metadata !== 'undefined') ? (metadata.dvlink + '?autoplay=0&rel=0&controls=0') : '' %>"
						frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen allownetworking="internal">
					</iframe>
				</div>

				<div class="row">
					<div class="col-xs-6 col-xs-offset-3" id="video-desc-div">
						<% if(typeof metadata !== 'undefined') {
							let descLines = metadata.dvdesc.split(/\r?\n/);
							if (descLines.length > 0) {
								descLines.forEach((line) => { %> <%=line%> <br /> <% }); 
							}
						} %>
					</div>
				</div>
			<% } else { %>
				<div class="row" id="title-div">
					No class going on right now; please check the schedult bellow.
				</div>
			<% } %>

			<% if ((typeof metadata !== 'undefined') && metadata.schedule) { %>
				<div class="row">
					<div id="schedule-row">
						<hr />
						<b>Re-watch the previous sessions <a href="/archives">here</a></b> <br />
						<div>
							<% if (typeof metadata !== 'undefined') { 
								try {
									// parse the text, delim by new line, remove first line i.e. header
									let scheduleLines = metadata.schedule.split(/\r?\n/);
									scheduleLines.splice(0, 1);
									if (scheduleLines.length > 0) { %> 
										<strong class="schd-header">Upcoming Schedule</strong> 
										<table id="schd-tab">
											<tr>
												<th> Date </th>
												<th> Time </th>
												<th> Keynote Title </th>
												<th> Keynote By </th>
											</tr>
											<% scheduleLines.forEach((line) => {
												let columns = line.split('|');
												columns.splice(0, 1); // First element is black as row starts with delimeter character
												%> <tr>
													<td class="schd-tr"> <%= columns[0] ? columns[0].trim() : '' %> </td>
													<td class="schd-time-tr"> <%= columns[1] ? columns[1].trim() : '' %> </td>
													<td class="schd-item-tr">
														<% let items = columns[2] ? columns[2].trim().split("^") : []; 
														%> <b> <%= items[0] ? items[0].trim() : ''%> </b> <ul><%
														let sl = 0;
														items.forEach((item) => {
															if (sl !== 0) { %>
																<br /><li><%=item.trim()%></li>
															<% }
															sl = sl + 1;
														}); %>
													</ul></td>
													<td class="schd-item-tr"> <%= columns[3] ? columns[3].trim() : '' %> </td>
												</tr> <%
											});		
										%> </table> <%
									}
								} catch (err) {
									console.log(err);
									%> </table> <%
								}
							} %>
						</div>
						<span class="red">Classes will be available only during scheduled hours. The attendance will be awarded only if logged in within that period.</span>
					</div>
				</div>
			<% } else { %>
				<div class="row">
					<div id="schedule-row">
						<hr />
						<div>
							<strong class="schd-header">No Upcoming Schedule</strong> <br />
							Re-watch the previous sessions <a href="/archives">here</a>.
						</div>
					</div>
				</div>
			<%} %>

			<% if ((typeof metadata !== 'undefined') && metadata.acount && metadata.acount > 0) { %>
				<div class="row">
					<div id="assignment-row">
						<hr />
						Upload Assignment (if any): <br />
						<span class="mono"><% if (typeof metadata !== 'undefined') {
							let assgnLines = metadata.atext.split(/\r?\n/);
							if (assgnLines.length > 0) {
								assgnLines.forEach((line) => { %><%=line%> <br/> <% });
							}
						} %> </span>
						<br />
						<% if (typeof metadata !== 'undefined') { %>
							<span class="mono">
								Timing: <em>
								<%=new Date(metadata.astart).toLocaleDateString()%> <%=new Date(metadata.astart).toLocaleTimeString()%>
								</em> to <em>
								<%=new Date(metadata.aend).toLocaleDateString()%> <%=new Date(metadata.aend).toLocaleTimeString()%>
								</em>
							</span> <br />
						<% } %>
						<small class="mono"><b>
							Name: <%= (typeof name !== 'undefined') ? name : '' %>
							&nbsp; 
							[ Code: <%= (typeof code !== 'undefined') ? code : '' %> ]
						</b></small>
						<form action="upload" method="post" enctype="multipart/form-data" class="form-inline">
							<select name="serial" class="form-control">
								<% Array.from(Array((typeof metadata !== 'undefined') ? parseInt(metadata.acount) : 1).keys()).forEach((sl) => {
									%> <option value="<%=(sl+1)%>">Assignment <%=(sl+1)%></option> <%
								}); %>
							</select>
							&nbsp;&nbsp;
							<input type="file" name="filetoupload" class="form-control col-sm-6" /> <br />
							&nbsp;&nbsp;
							<input type="submit" value="Upload &rarr;" class="form-control btn btn-primary" />
						</form>
						<pre><%= (typeof upload !== 'undefined') ? upload : '' %></pre>
					</div>
				</div>
			<% } %>

		</div>

	</body>

</html>