<!DOCTYPE html>
<html>

	<head>
		<title>Login Page</title>

		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

		<script type="text/javascript">

			let setLayout = function () {
				$('.card-title').css('margin-left', $('#login-form').position().left);
				$('.card-title').width($('#login-form').width());

				$('.card-subtitle').css('margin-left', $('#login-form').position().left);
				$('.card-subtitle').width($('#login-form').width());
			};

			$(document).ready (function() {
				setLayout ();
			});

		</script>

		<style>
			body {
				background-color: #1a75ff;
			}

			.header-line-1 img {
				width: 100%;
			}

			.card {
				margin: 10px;
				padding: 10px;
				color: #0033cc;
			}

			.header-line-1 {
				font-weight: bold;
				font-size: xx-large;
			}

			.header-line-2-p1, .header-line-2-p2 {
				font-style: italic;
				color: #668cff;
				float: right;
			}

			.header-line-2-p2 {
				font-weight: bold;
			}

			.header-line-3 {
				text-align: center;
				font-weight: bold;
			}

			#login-form {
				font-weight: bold;
				font-style: italic;
			}

			#message-div {
				text-align: center;
				color: red;
				font-weight: bold;
			}

		</style>

	</head>

	<body>
		
		<div class="card">
			<p class="card-title">
				<span class="header-line-1"><img src="/images/logo.png" alt="EduClasses Online" /></span> <br />
				<span class="header-line-2-p1"> Online Classes 2020 </span> <br />
			</p>

			<div id="login-div" class="row">
				<div class="col-sm-4"></div>
				<form id="login-form" action="/login" method="post" class="col-sm-4">
					User Code <br />
					<input type="text" class="form-control" id="username-input" autocomplete="username" name="usercode"/>
					<br />
					<input type="submit" class="btn btn-primary" id="login-button" value="Login &rarr;" />
				</form>
    		</div>
    		<div id="message-div"><%=(typeof message !== 'undefined') ? message : ''%></div>

		</div>

	</body>

</html>