<!DOCTYPE html>
<html>

	<head>
		<%
		let title = 'Nodal page';
		if (typeof attn !== 'undefined') {
			title = 'Attendance ' + ((typeof date !== 'undefined') ? date : '');
		} else if (typeof users !== 'undefined') {
			title = 'Registered Users';
		}
		%>
		<title><%=title%></title>

		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css" />
		<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

		<script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
		<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
		<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
		<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>

		<script type="text/javascript">

			let setLayout = function () {
				$('.card-title').css('margin-left', $('#data-div').position().left);
				$('.card-title').width($('#data-div').width());

				$('.card-subtitle').css('margin-left', $('#data-div').position().left);
				$('.card-subtitle').width($('#data-div').width());
			};

			$(document).ready (function() {
				setLayout ();
				$(window).on('resize', function() {
					setLayout ();
				});

				let rowWidth = parseInt($('#attendance-tab-body tr:first-child').width());
				$('#attendance-tab-body tr:first-child').width(rowWidth);
				$('#attendance-tab-head tr:first-child').width(rowWidth);
				$('#attendance-tab-body tr:first-child td').each((idex, elem) => {
					let colWidth = parseInt($(elem).width());
					$('#attendance-tab-body tr:first-child th:nth-child(' + (idex+1) + ')').width(colWidth);
					$('#attendance-tab-head tr:first-child th:nth-child(' + (idex+1) + ')').width(colWidth);
				});

				$.ajax({
					url: '/nodes',
					method: 'get',
					dataType: 'json',
					success: function (data) {
						$('#node').autocomplete({source: data});
						if(data.length === 1) {
							$('#node').val(data[0]);
						}
					},
					error: function(jqXHR, exception) {
						try {
							console.log(jqXHR);
							console.log(exception);
						} catch (err) {}
						$('#message-div').html('Could not fetch data');
					}
				});

				try {
					$('#attendance-tab').DataTable({
						dom: 'Bfrtip',
        				buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
					});
				} catch (err) {}

				try {
					$('#users-tab').DataTable({
						dom: 'Bfrtip',
        				buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
					});
				} catch (err) {}
			});

		</script>

		<style>
			body {
				background-color: #1a75ff;
			}

			.header-line-1 img {
				width: 100%;
			}

			.card {
				margin: 10px;
				padding: 10px;
				color: #0033cc;
			}

			.header-line-1 {
				font-weight: bold;
				font-size: xx-large;
			}

			.header-line-2-p1, .header-line-2-p2 {
				font-style: italic;
				color: #668cff;
				float: right;
			}

			.header-line-2-p2 {
				font-weight: bold;
			}

			.header-line-3 {
				text-align: center;
				font-weight: bold;
			}

			.header-line-4 {
				font-weight: bold;
				float: right;
			}

			#data-div {
				font-weight: bold;
				margin-top: 2%;
			}

			#message-div {
				text-align: center;
				color: red;
				font-weight: bold;
			}

			.mono {
				font-family: monospace;
			}

			#attendance-tab-head, #attendance-tab-body {
				border: 3px outset #1a75ff;
				width: 100%;
			}

			#attendance-tab-head tr td, #attendance-tab-head tr th, #attendance-tab-body tr td, #attendance-tab-body tr th {
				border: 1px solid #1a75ff;
				padding-left: 5px;
			}

			#attendance-tab-head tr th, #attendance-tab-body tr th {
				background-color: #e6e6ff;
				color: #0033cc;
			}

			#attendance-tab-head-div, #attendance-tab-body-div {
				max-height: 400px;
				overflow-y: scroll;
			}

			#attendance-tab-head {
				border-bottom: 0px !important;
			}

			#attendance-tab-body {
				border-top: 0px !important;
			}

		</style>

	</head>

	<body>
		
		<div class="card">
			<div class="card-title">
				<span class="header-line-1"><img src="/images/logo.png" alt="EduClasses Online" /></span> <br />
				<span class="header-line-2-p1"> Online Classes 2020 </span> <br />
				<span class="header-line-4">
						Welcome! <%= (typeof name !== 'undefined') ? name : 'Anonymous' %> (<a href="/">Home</a> | <a href="/logout">Logout</a>) <br />
						<em><%= (typeof node !== 'undefined') ? node : '' %></em>
				</span>
			</div>

			<div class="row">
				<div class="col-lg-3 col-md-1"></div>
				<div id="data-div" class="col-lg-6 col-md-10" col-md>
					Select date and choose data to be shown: <hr />
					<form action="/nodal" method="post">
						<div class="row">
							<div class="col-sm-4"> Node: </div>
							<div class="col-sm-8"> <input type="text" class="form-control" name="node" id="node" value="<%= ((typeof collg !== 'undefined') ? collg : '') %>" /> </div>
						</div>
						<div class="row">
							<div class="col-sm-4"> Date: </div>
							<div class="col-sm-8"> <input type="date" class="form-control" name="date" value="<%= ((typeof date !== 'undefined') ? date : '') %>" /> </div>
						</div>
						<div class="row">
							<div class="col-sm-12 form-inline">
								<input type="radio" class="form-control" name="type" id="nodal-type-att" value="attn" <%=((typeof type !== 'undefined' && type === 'attn') ? 'checked' : '')%> />
								&nbsp;&nbsp;&nbsp;&nbsp;<label for="nodal-type-att">Attendance</label>
								&nbsp;&nbsp;&nbsp;&nbsp;
								<input type="radio" class="form-control" name="type" id="nodal-type-asgn" value="list"  <%=((typeof type !== 'undefined' && type === 'asgn') ? 'checked' : '')%> />
								&nbsp;&nbsp;&nbsp;&nbsp;<label for="nodal-type-asgn">List of Students</label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6"> <input type="submit" class="form-control btn btn-primary" value="Get Data &rarr;" /> </div>
						</div>
					</form>
					<hr />

					<% if (typeof attn !== 'undefined') { %>
						<span class="mono"> Attandences of <%= ((typeof date !== 'undefined') ? date : '') %> </span>
						<% if (attn.length > 0) { %>
							<div id="details-div">
								<table id="attendance-tab" class="table table-striped table-bordered">
									<thead>	
										<tr><th>Name</th><th>Login Time</th></tr>
									</thead>
									<tbody>
										<% attn.forEach((line) => { %> <tr><td><%=line.user_name%></td><td><%=new Date(line.login_time).toLocaleDateString()%> <%=new Date(line.login_time).toLocaleTimeString()%></td></tr> <% }) %>
									</tbody>
								</table>
							</div>
						<% } else { %>
							No attendance data for the selected date
						<% }
					} %>
					
					<% if (typeof users !== 'undefined') { %>
						<span class="mono"> User List </span>
						<% if (users.length > 0) { %>
							<div id="details-div">
								<table id="users-tab" class="table table-striped table-bordered">
									<thead>	
										<tr><th>ID</th><th>Type</th><th>Name</th><th>Mobile</th><th>E-mail</th></tr>
									</thead>
									<tbody>
										<% users.forEach((line) => { %> 
											<tr><td><%=line.user_secret%></td><td><%=line.type_desc%></td><td><%=line.user_name%></td><td><%=line.mobile_no%></td><td><%=line.email_id%></td></tr> 
										<% }) %>
									</tbody>
								</table>
							</div>
						<% } else { %>
							No user registere from this college.
						<% }
					} %>

				</div>
    		</div>
    		<div id="message-div"><%= (typeof message !== 'undefined') ? message : '' %></div>

		</div>

	</body>

</html>